* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cadetblue;
}
p { 
    text-align: center ;
    padding: px;
    color: crimson;
    ;
}
a {text-align: center;}
a :hover{
color: red;
}
a :visited {
    color:tomato
}
a :active {
    color: green;
}

.judul {width: 900px;
    padding: 0px;
    
}

h1{
    margin: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding:5px ;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block ;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 550px;
    height: 580px;
}

.index {
    
}
form {
width: 215px;
text-align: center
;

}



textarea { 
    width: 125%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid cadetblue;
}
button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: antiquewhite;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: cadetblue;
}
.right img {
    width: 500px;
    margin: 0px;
    padding: 0px;
    height: 400px;
    float: right;
  ;
    
}

.right2 {

    width: 550px;
    height: 700px;
    float: right;
}


.daftar {
    width: 100%;
}

.form2 {
    height: ;
    width: ;
  ;
}

.buku {
    right: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 300px;
    border: 3px solid ;
    padding-left: 100%;
}
.biodata{
height: auto;;
}


